.header {
  transition: opacity 0.3s ease;
  will-change: opacity;
}
.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  top: -8px;
  position: absolute;
  left: 0;
  background-color: black;
}

.button {
  background-color: #1db954;
  color: white;
  border-color: #1db954;
  border-radius: 100px;
  text-align: center;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
  will-change: transform, opacity;
  outline: none;
}

.button + .button {
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.3s;
}

.buttonActive {
  border-color: white;
}
.card {
  background: #181818;
  transition: background 0.2s ease;
  will-change: background;
}
.card:hover {
  background: #282828;
}

.spotwifyContainer {
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.popIn {
  transform: translateY(0);
  opacity: 1;
}

.popOut {
  transform: translateY(-10px);
  opacity: 0;
}
